stages:
- build
- deploy

beluga:build:
  stage: build
  image: duckbrain/beluga
  script:
  - beluga env
  - beluga build

beluga:deploy:
  stage: deploy
  image: duckbrain/beluga
  script: beluga deploy