stages:
- build
- deploy

variables:
  BELUGA_IMAGES: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG
  COMPOSE_FILE: samples/gitlab/docker-compose.yaml

beluga:build:
  stage: build
  image: duckbrain/beluga
  script:
  - beluga env
  - beluga build

beluga:deploy:
  stage: deploy
  services:
  - docker:19.03.5-dind
  image: $BELUGA_IMAGES
  script:
  - beluga deploy
