<div class="page-header">
  <h1>Stack#Show</h1>
</div>

<ul class="list-unstyled list-inline">
  <li class="list-inline-item"><a href="<%= stacksPath() %>" class="btn btn-info">Back to all Stacks</a></li>
  <li class="list-inline-item"><a href="<%= editStackPath({ stack_id: stack.ID })%>" class="btn btn-warning">Edit</a></li>
  <li class="list-inline-item"><a href="<%= stackPath({ stack_id: stack.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

<p>
  <strong>Name</strong>: <%= stack.Name %>
</p>
<p>
  <strong>Key</strong>: <%= stack.Key %>
</p>
